<h1 class="text-center text-light my-4 p-3" style="background-color:  rgba(7, 7, 7, 0.5);">PREGUNTADOS</h1>
<div *ngIf="!gameOver">
  <div class="card text-center">
    <div class="card-header">
      Pregunta {{ currentQuestionIndex + 1 }} de {{ questions.length }}
    </div>
    <div class="card-body">
      <h5 class="card-title">¿Quién es este Pokémon?</h5>

      <!-- Imagen -->
      <img 
        [src]="questions[currentQuestionIndex]?.image"
        [ngClass]="{ 'silhouette': !showAnswer }"
        class="mb-3 img-fluid"
        alt="Pokemon"
        *ngIf="questions[currentQuestionIndex]"
      />

<div class="container d-flex justify-content-center">
  <div class="row" style="max-width: 600px;">
    <div 
      class="col-6 mb-3" 
      *ngFor="let opt of questions[currentQuestionIndex]?.options">
      <button 
        class="btn w-100"
        [disabled]="showAnswer"
        [ngClass]="{
          'btn-primary': !showAnswer,
          'btn-success': showAnswer && opt === questions[currentQuestionIndex]?.name,
          'btn-danger': showAnswer && opt === selectedAnswer && opt !== questions[currentQuestionIndex]?.name
        }"
        (click)="submitAnswer(opt)">
        {{ opt | titlecase }}
      </button>
    </div>
  </div>
</div>


      <!-- Feedback -->
      <div class="mt-3" *ngIf="showAnswer">
        <p *ngIf="wasCorrect" class="text-success">✅ ¡Correcto!</p>
        <p *ngIf="!wasCorrect" class="text-danger">
          ❌ Incorrecto. El Pokémon era <strong>{{ questions[currentQuestionIndex]?.name | titlecase }}</strong>.
        </p>
      </div>

      <p *ngIf="!showAnswer" class="mt-3">⏱️ Tiempo restante: {{ timeLeft }}s</p>
    </div>
  </div>
</div>


  <div *ngIf="gameOver" class="text-center">
    <h2 class="p-2">¡Has respondido todas las preguntas!</h2>
    <p>Tu puntaje: {{ score }} / {{ questions.length }}</p>
    <button class="btn btn-success" (click)="restartGame()">Reintentar</button>
  </div>

  <style>
  .silhouette {
    filter: brightness(0) contrast(1.5);
  }

  .card {
  background-color: rgba(0, 0, 0, 0.4); /* negro translúcido */
  border-radius: 12px;
  color: white;
}

  </style>
