<div class="d-flex justify-content-center align-items-center gap-4 my-3" *ngIf="currentCard">
  <!-- Carta actual -->
    <img src="https://deckofcardsapi.com/static/img/back.png" class="img-fluid shadow" style="width: 100px;">
  
  <img [src]="currentCard.image" class="img-fluid shadow" style="width: 100px;">

  <!-- Carta boca abajo para simular la baraja -->
 </div>


<div class="d-flex justify-content-center gap-3 my-3" *ngIf="!gameOver">
  <button class="btn btn-success" (click)="guess(true)">Mayor</button>
  <button class="btn btn-danger" (click)="guess(false)">Menor</button>
</div>

<div *ngIf="!gameOver" class="text-center fw-bold mt-3" style="background-color:  rgba(7, 7, 7, 0.5);">
 Puntaje: {{ score }}
</div>

<div *ngIf="gameOver" class="text-danger text-center fw-bold mt-3" style="background-color:  rgba(7, 7, 7, 0.5);">
  {{ mensajeFinal }}
</div>

<div class="text-center mt-3">
  <button class="btn btn-primary" (click)="startGame()">Reiniciar Juego</button>
</div>
