<div class="container text-center mt-5">
  <h2>Juego del Ahorcado</h2>

  <img [src]="imagenActual" alt="Ahorcado" class="img-fluid mb-3" style="max-height: 300px;">

  <div class="mb-3 fs-3" style="background-color:  rgba(7, 7, 7, 0.5);">
    <span *ngFor="let letra of letrasMostradas" class="mx-1">{{ letra }}</span>
  </div>

  <div *ngIf="!juegoTerminado"  class="mb-5">
    <button 
      *ngFor="let letra of letrasDisponibles"
      (click)="adivinar(letra)"
      class="btn btn-primary m-1" 
      [disabled]="letrasUsadas.includes(letra)">
      {{ letra }}
    </button>
  </div>

  <div *ngIf="juegoTerminado" class="alert alert-info fs-4">
    {{ mensajeFinal }}
  </div>

  <button class="btn btn-success" (click)="iniciarJuego()">Reiniciar Juego</button>
</div>
