<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="home"><img src="../assets/logo-gamezone.png"  alt="GameZone Logo" height="50 rem"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home">Home</a>
        </li>
        <li *ngIf="user" class="nav-item">
          <a class="nav-link" routerLink="ranking">Ranking</a>
        </li>
          <li *ngIf="user" class="nav-item">
          <a class="nav-link" routerLink="encuesta">Encuesta</a>
        </li>
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link" routerLink="register">Registro</a>
        </li>
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li *ngIf="user" class="nav-item">
          <a class="nav-link"(click)="logout()" routerLink="home">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="quiensoy">QuienSoy</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div *ngIf="user"><app-chat /></div>


<router-outlet />
