<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg rounded-4" style="width: 100%; max-width: 400px; background-color: rgba(0, 0, 0, 0.85); border: 2px solid #1a1a1a;">
    <h3 class="text-center text-light mb-4">Registro</h3>

    <form (ngSubmit)="register()">
      <div class="mb-3">
        <label class="form-label text-light">Correo Electrónico</label>
        <input type="text" placeholder="Username" [(ngModel)]="username" name="username" class="form-control bg-dark text-light border-secondary" required />
      </div>

      <div class="mb-3">
        <label class="form-label text-light">Contraseña</label>
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password" class="form-control bg-dark text-light border-secondary" required />
      </div>

      <button type="submit" class="btn btn-success w-100">Registrarse</button>
    </form>
  </div>
</div>
